@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html,
    body {
      scroll-behavior: smooth;
      background-image:url(/images/back3.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0;
      margin: 0;
      height: 100vh;
      background-color: #F2F2F0;
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }
    * {
      box-sizing: border-box;
    }
}